@media screen and  (min-width: 600px)   and (max-width:1021px) {
    .sub-AboutPage-Main:nth-of-type(1){
      padding: 4rem .1rem 0rem 2rem !important;
      h1 span{
        font-size: 30px !important;
      }
    }
    .sub-AboutPage-Main:nth-of-type(2){
        p{
            width: 90% !important;
            font-size: 13px;
        }
    }

}
@media screen    and (max-width:599px) {
    .AboutPage-Main{
        flex-direction: column;
        .sub-AboutPage-Main{
            width: 100%;
        }
    }

    .sub-AboutPage-Main:nth-of-type(1){
      padding: 4rem .1rem 0rem 2rem !important;
    }
    .sub-AboutPage-Main:nth-of-type(2){
        p{
            width: 90% !important;
            font-size: 13px;
        }
    }

}
@media screen    and (max-width:400px) {
    .sub-AboutPage-Main:nth-of-type(1){
        padding: 4rem .1rem 0rem 2rem !important;
        h1 span{
            font-size: 30px !important;
        }
        h3{
            font-size: 17px !important;
        }
    }
}
// and  (min-width: 600px)
