@media screen and (min-width: 827px) and (max-width:939px) {
  .container{
    h1{
      font-size: 80px;
    }
  }
} 
@media screen and (min-width: 827px) and (max-width:939px) {
  .container{
    h1{
      font-size: 80px;
    }
  }
} 

@media screen and  (min-width: 690px) and (max-width:827px) {
  .container{
    h1{
      font-size: 70px;
    }
    h2:nth-of-type(2){
      font-size: 23px;
    }
    h3{
    width: 70%;
    }
  }
} 

@media screen and  (min-width: 600px)  and (max-width:689px) {
  .container{
    h1{
      font-size: 60px;
    }
    h2:nth-of-type(1){
      font-size: 22px;
    }
    h3{
    width: 80%;
    }
  }
} 
@media screen and  (min-width: 460px)  and (max-width:599px) {
  .container{
    padding: 6.5rem 1rem 2rem 30px;
    h1{
      font-size: 50px;
      margin: 7% 0 0 8%;
      span:nth-of-type(1){
        font-size: 15px;
        left: -40px;
      }
    }

    h3{
    width: 80%;
    }
  }
} 

@media screen and  (min-width: 373px)   and (max-width:459px) {
  .container{
    padding: 6.5rem 1rem 2rem 30px;
    h1{
      font-size: 40px;
      margin: 7% 0 0 8%;
      span:nth-of-type(1){
        font-size: 15px;
        left: -40px;
      }
    }
    h2:nth-of-type(2){
      font-size: 20px;
    }
    h3{
    width: 90%;
    font-size: 14px;
    }

  }
} 
   
@media screen and  (min-width: 340px)  and (max-width:372px) {
  .container{
    padding: 6.5rem 1rem 2rem 30px;
    h1{
      font-size: 35px;
      margin: 6% 0 0 8%;
      span:nth-of-type(1){
        font-size: 15px;
        left: -40px;
      }
    }
    h2:nth-of-type(1){
      font-size: 16px;
      margin-left: 20px;
    }
    h2:nth-of-type(2){
      font-size: 20px;
    }
    h3{
    width: 90%;
    font-size: 18px;
    }
  }
} 
// and  (min-width: 340px)
@media screen  and (max-width:339px) {
  .container{
    padding: 6.5rem 1rem 2rem 30px;
    h1{
      font-size: 25px;
      margin: 6% 0 0 8%;
      span:nth-of-type(1){
        font-size: 10px;
        left: -30px;
      }
    }
    h3:nth-of-type(1){
      margin-top: 20px;
      }
    h2:nth-of-type(2){
      font-size: 13px;
      margin-left: 20px;
      margin-top: 10px;
      padding: 0 !important;
    }
    h2:nth-of-type(1){
      font-size: 13px;
      margin-left: 20px;
    }
    h3{
    width: 95%;
    font-size: 12px;
    }
  }
} 