.Mainportfoliopage{
    margin-top: 80px;
    // background: gray;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
h1{
    font-size: 25px;
    margin-left:70px ;
}
 h1+ p{
    margin:10px 0px 10px 50px;
    width: 50%;
}
}
.portfolioMian-sepratePage{
    // background: gray;
    display: flex;
    flex-direction: column;
    padding: 20px 20px 0px 130px;
}
.text-portfolio-main{
    display: flex;
    flex-direction: column;
    display: inline-block;
    box-sizing: border-box;
    padding: 0rem 0rem 0rem 1rem;
    width: 40%;
    // background: aqua;
    h4{
        color: #3ccf91;
    }
    h3{
        margin-top: 20px;
        font-size: 23px;
    }
    p{
        font-size: 17px;
        margin: 10px 0;
    }
    .firstsvg{
        margin: 0 10px 0px 0;
    }
    svg:hover{
        color: #3ccf91;
    }
    span{
        color: #3ccf91;
        // background: white;
        position: relative;
        top: 10px;
    }
   
    
}
.portfolio-card-main{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 50px;
   img{
    height: 251px;
    width: 504px;
    border-radius: 20px;
   } 
   p{
    width: 90%;
    // background: white;
   }
}