@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes spin {
    0% { transform: rotate(0deg); }
    50% { transform: rotate(180deg); }
    100% { transform: rotate(360deg); }

  }
  .remove-bg {
    background-color: transparent;
    
  }
  .animate-spin {
    animation: spin infinite linear 40s; /* Adjust the duration and timing function as needed */
  }
  @layer utilities {
    .text-balance {
      text-wrap: balance;
    }
  }
  
  .scrollbar-hide {
    scrollbar-width: none;
    -ms-overflow-style: none;
    &::-webkit-scrollbar {
      display: none;
    }
  }