@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes spin {
    0% { transform: rotate(0deg); }
    50% { transform: rotate(180deg); }
    100% { transform: rotate(360deg); }

  }
  .remove-bg {
    background-color: transparent;
    
  }
  .animate-spin {
    animation: spin infinite linear 40s; /* Adjust the duration and timing function as needed */
  }
  @layer utilities {
    .text-balance {
      text-wrap: balance;
    }
  }
  
  .scrollbar-hide {
    scrollbar-width: none;
    -ms-overflow-style: none;
    &::-webkit-scrollbar {
      display: none;
    }
  }

  @layer base {
    body {
      @apply font-sans bg-n-8 text-n-1 text-base;
    }
  }
  
  .rotate-45 {
    @apply rotate-[45deg];
  }
  
  .rotate-90 {
    @apply rotate-[90deg];
  }
  
  .rotate-135 {
    @apply rotate-[135deg];
  }
  
  .rotate-180 {
    @apply rotate-[180deg];
  }
  
  .rotate-225 {
    @apply rotate-[225deg];
  }
  
  .rotate-270 {
    @apply rotate-[270deg];
  }
  
  .rotate-315 {
    @apply rotate-[315deg];
  }
  
  .rotate-360 {
    @apply rotate-[360deg];
  }
  
  .-rotate-45 {
    @apply rotate-[-45deg];
  }
  
  .-rotate-90 {
    @apply rotate-[-90deg];
  }
  
  .-rotate-135 {
    @apply rotate-[-135deg];
  }
  
  .-rotate-180 {
    @apply rotate-[-180deg];
  }
  
  .-rotate-225 {
    @apply rotate-[-225deg];
  }
  
  .-rotate-270 {
    @apply rotate-[-270deg];
  }
  
  .-rotate-315 {
    @apply rotate-[-315deg];
  }
  
  .-rotate-360 {
    @apply rotate-[-360deg];
  } 