

footer{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
    padding: 0em 0 2em 0em;
    a{
        color: #3ccf91;
        font-weight: 600;
    }
}